HOME_NAME=Shunkov Power Hub
APP_HOST=0.0.0.0
APP_PORT=8484
APP_TIMEZONE=Europe/Warsaw
POLL_INTERVAL_SECONDS=1
SAMPLE_WRITE_INTERVAL_SECONDS=5
ENERGY_TARIFF_PER_KWH=1.12
LOCAL_DISCOVERY_SUBNETS=192.168.1.0/24
DATABASE_URL=postgresql://dev:secret@192.168.1.107:5432/home_power_meter

TUYA_CLOUD_API_REGION=eu
TUYA_CLOUD_API_KEY=
TUYA_CLOUD_API_SECRET=
TUYA_CLOUD_API_DEVICE_ID=bf47402ca7399b6eef6bw7